@{
    ViewData["Title"] = "Home Page";
}

<!-- slider section -->
<section class=" slider_section">
    <div id="carouselExampleIndicators" class="carousel slide vert" data-ride="carousel">
        @* <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            @* <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> 
        </ol> *@
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slider_box">
                    <div class="fixed_company-detail">
                        <p>
                           
                        </p>
                    </div>
                    <div class="slider-detail">
                        <div class="slider_detail-heading">
                            
                            <h2>
                               
                            </h2>
                            <h1>
                              
                            </h1>
                        </div>
                        <div class="slider_detail-text">
                            <p>
                              
                            </p>
                        </div>
                        @* <div class="slider_detail-btn">
                            <a href="">
                                <span>
                                    Read More
                                </span>
                                <img src="images/arrow.png" alt="" class="ml-2" />
                            </a>
                        </div> *@
                    </div>
                </div>
            </div>
            @* <div class="carousel-item">
                <div class="slider_box">
                    <div class="fixed_company-detail">
                        <p>
                            Security Guard Company
                        </p>
                    </div>
                    <div class="slider-detail">
                        <div class="slider_detail-heading">
                            <h2>
                                We Are
                            </h2>
                            <h1>
                                Provided security services
                            </h1>
                        </div>
                        <div class="slider_detail-text">
                            <p>
                                ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="slider_detail-btn">
                            <a href="">
                                <span>
                                    Read More
                                </span>
                                <img src="images/arrow.png" alt="" class="ml-2" />
                            </a>
                        </div>
                    </div>
                </div>
            </div> *@
            @* <div class="carousel-item">
                <div class="slider_box">
                    <div class="fixed_company-detail">
                        <p>
                            Security Guard Company
                        </p>
                    </div>
                    <div class="slider-detail">
                        <div class="slider_detail-heading">
                            <h2>
                                We Are
                            </h2>
                            <h1>
                                Provided security services
                            </h1>
                        </div>
                        <div class="slider_detail-text">
                            <p>
                                ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="slider_detail-btn">
                            <a href="">
                                <span>
                                    Read More
                                </span>
                                <img src="images/arrow.png" alt="" class="ml-2" />
                            </a>
                        </div>
                    </div>
                </div>
            </div> *@
        </div>
        @* <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> *@
    </div>
</section>

<!-- end slider section -->
<!-- welcome section -->

<!-- end welcome section -->
<!-- service section -->
@* <section class="service_section ">
    <div class="container">
        <div class="service_detail">
            <h3>
                We
            </h3>
            <h2>
                we provide service
            </h2>
        </div>
        <div class="service_img-container">
            <div class="service_img-box i-box-1">
                <a href=""> Bank security</a>
            </div>
            <div class="service_img-box i-box-2">
                <a href="">society Guard </a>
            </div>
            <div class="service_img-box i-box-3">
                <a href="">Hotel Security </a>
            </div>
            <div class="service_img-box i-box-4">
                <a href=""> Home security</a>
            </div>
        </div>
        <div class="service_btn">
            <a href="">
                <span>
                    Read More
                </span>
                <img src="images/arrow-black.png" alt="" class="ml-2" />
            </a>
        </div>
    </div>
</section> *@
<!-- end service section -->
<!-- security section -->
 
<section class="security_section layout_padding">
    @* <h3>
        Seguridad
    </h3>
    <h2>
        Nuestros guardias
    </h2>
    <div class="security_container">
        <div class="carousel-wrap">
            <div class="owl-carousel">
                <div class="item">
                    <div class="security_img-box i-box-1">
                        <a href=""> View More</a>
                    </div>
                </div>
                <div class="item">
                    <div class="security_img-box i-box-2">
                        <a href=""> View More</a>
                    </div>
                </div>
                <div class="item">
                    <div class="security_img-box i-box-3">
                        <a href=""> View More</a>
                    </div>
                </div>

            </div>
        </div>
    </div> *@
    <div class="security_btn">
        <a href="">
            <span>
               
            </span>
            @* <img src="images/arrow-black.png" alt="" class="ml-2" /> *@
        </a>
    </div>
</section> 
<!-- end security section -->
<!-- story section -->


  <section class="welcome_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class=" col-md-6">
          <div>
            <img class="img-fluid" src="~/images/jca_1.jpeg" alt="" />
          </div>
        </div>
        <div class=" col-md-6">
          <div class="welcome_detail">
            <h3>
              Bienvenidos
            </h3>
            <h2>
              Somos jca security
            </h2>
            <p>
              Somos una empresa con 10 años de trayectoria en el rubro de seguridad integral, 
              enfocados en satisfacer necesidades de seguridad de todo tipo de clientes, tanto del sector público como privado. 
              De este modo, ofrecemos servicios, soluciones y equipos de última tecnología, entregando tranquilidad y confianza a nuestros clientes.
            </p>
            <div class="welcome_detail-btn">
              <a  asp-controller="About" asp-action="About">
                <span>
                  Mas sobre Nosotros
                </span>
                <img src="~/images/arrow-black.png"   alt="" class="ml-2" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


