@{
    ViewData["Title"] = "About";
}

  <section class="welcome_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class=" col-md-6">
          <div>
            <img class="img-fluid" src="~/images/jca_2.jpeg" alt="" />
          </div>
        </div>
        <div class=" col-md-6">
          <div class="welcome_detail">
            <h3>
              SOBRE NOSOTROS
            </h3>
            <h2>
              ¿QUIÉNES SOMOS?
            </h2>
            <p>
              Somos una empresa con 10 años de trayectoria en el rubro de seguridad integral, 
              enfocados en satisfacer necesidades de seguridad de todo tipo de clientes, tanto del sector público como privado. 
              De este modo, ofrecemos servicios, soluciones y equipos de última tecnología, entregando tranquilidad y confianza a nuestros clientes.
            </p>
            
            <h2>
              NUESTRA MISIÓN
            </h2>
            <p>
              Entregar servicios de seguridad para nuestros clientes, 
              velando por el cuidado de su imagen e integridad, con tiempos de respuesta eficientes y de la mano de soportes tecnológicos a la vanguardia.
            </p>
  
            <h2>
              NUESTRA VISIÓN
            </h2>
            <p>
              Posicionarnos como una empresa de seguridad con altos estándares de satisfacción, 
              siendo reconocidos y elegidos por nuestros clientes, por nuestra trayectoria y primer nivel en soluciones y servicios entregados.
            </p>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end welcome section -->
<!-- info section -->


<!-- end info section -->