@{
    ViewData["Title"] = "About";
}


  <div class="layout_padding">

    <section class="layout_padding story_section ">
      <div class="container-fluid">
        <div class="row">
          <div class=" col-md-6">
            <div>
              <img class="img-fluid" src="~/images/jca_3.jpeg" alt="" />
            </div>
          </div>
          <div class=" col-md-6">
            <div class="story_detail" style="margin-left: 3%;">
              <h3>
                  ¿POR QUÉ ELEGIRNOS?
              </h3>
              <br>
              <h2>
               TIEMPOS DE ACCIÓN EFICACES
              </h2>
              <p>
               Cuando hablamos de seguridad, la rapidez en accionar protocolos es primordial. Ofrecemos reportes automáticos e información en tiempo real.
              </p>

              <h2>
               SU SEGURIDAD ES NUESTRA PRIORIDAD
              </h2>
              <p>
               Entregamos asesorías personalizadas para cada cliente, ofreciendo los servicios que mejor se adapten a sus requerimientos.
              </p>
              <h2>
               COMPROMETIDOS CON LA INNOVACIÓN Y MEJORA CONTINUA
              </h2>
              <p>
               Nos enfocamos en la gestión eficiente de todos nuestros procesos, mediante herramientas tecnológicas y capacitación continua de nuestros guardias de seguridad.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>