@{
    ViewData["Title"] = "Service";
}

<div class="layout_padding">

    <section class="layout_padding story_section ">
      <div class="container-fluid">
        <div class="row">

          <div class=" col-md-6">
            <div class="story_detail">
              <h3>
                 
              </h3>
              <br>
              <h2>
               <center>CONTROLES DE ACCESO</center>
              </h2>
              <br>
              <p style="margin-left: 5%;margin-right: 5%;">
                Ofrecemos diversos sistemas de Control de Acceso, compatibles con las necesidades de cada cliente:
              </p><br>
               <h4>
               <center>BIOMETRICO</center>
              </h4>
              <br>
               <h4>
               <center>TORNIQUETE</center>
              </h4>
              <br>
               <h4>
               <center>CONTROL DE TEMPERATURA</center>
              </h4>
              <br>
               <h4>
               <center>RECONOCIMIENTO FACIAL</center>
              </h4>
              <br>
               <h4>
               <center>PDA'S</center>
              </h4>
            </div>
          </div>
            <div class=" col-md-6">
                <div>
                <img class="img-fluid" src="~/images/acceso.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>