
@{
    ViewData["Title"] = "Service";
}

<div class="layout_padding">

    <section class="layout_padding story_section ">
      <div class="container-fluid">
        <div class="row">
                    <div class=" col-md-6">
            <div>
              <img class="img-fluid" src="~/images/sistema.png" alt="" />
            </div>
          </div>
          <div class=" col-md-6">
            <div class="story_detail">
              <h3>
                 
              </h3>
              <br>
              <h2>
               <center>SISTEMA DE GESTIÓN  <br> ADMINISTRATIVO
               </center>
              </h2>
              <br>
              <p style="margin-left: 5%;margin-right: 5%;">
                Trabajamos con una aplicación de gestión administrativa de seguridad, la cual entrega los siguientes servicios personalizados para cada uno de nuestros clientes:
              </p><br>
               <h4>
               <center>•	Control de acceso 
                        •	Monitoreo de remoto 
                        •	Control de rondas 
                        •	Dotación de personal
                        •	Sistema de turnos
                        •	Seguimiento de cumplimiento de tareas y turnos de trabajo</center>
              </h4>
             
            </div>
          </div>
            
          </div>
        </div>
      </div>
    </section>
  </div>