
@{
    ViewData["Title"] = "Service";
}



  <div class="layout_padding">

    <section class="layout_padding story_section ">
      <div class="container-fluid">
        <div class="row">
         
          <div class=" col-md-6">
            <div class="story_detail">
              <h3>
                 
              </h3>
              <br>
              <h2>
               <center>QUÉ CARACTERÍSTICAS TIENE UN <br>GUARDIA DE JCA SECURITY</center>
              </h2>
              <br>
              <p style="margin-left: 5%;margin-right: 5%;">
               Nuestros guardias de seguridad son profesionales calificados para resolver todo tipo de situaciones en distintos contextos, ya que nos enfocamos en su capacitación continua y entrenamientos integrales.
                Un guardia JCA Security cuenta con habilidades físicas, sicológicas y comunicacionales para la resolución de conflictos.
              </p>
            </div>
          </div>
           <div class=" col-md-6">
            <div>
              <img class="img-fluid" src="~/images/guardia_s.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>