@{
    ViewData["Title"] = "Service";
}


<div class="layout_padding">

    <section class="layout_padding story_section ">
      <div class="container-fluid">
        <div class="row">
         <div class=" col-md-6">
            <div>
              <img class="img-fluid" src="~/images/cctv.jpeg" alt="" />
            </div>
          </div>
          <div class=" col-md-6">
            <div class="story_detail">
              <h3>
                 
              </h3>
              <br>
              <h2>
               <center>CAMARAS Y CCTV (MONITOREO)</center>
              </h2>
              <br>
              <p style="margin-left: 5%;margin-right: 5%;">
                TECNOLOGÍA DE ALTO ESTANDAR
                En JCA SECURITY trabajamos a la vanguardia con los más altos estándares tecnológicos para la ejecución de todos nuestros servicios de seguridad, 
                por medio de Tecnología de Proximidad. Para hacerlo posible
              </p>
            </div>
          </div>
           
        </div>
      </div>
    </section>
  </div>