
@{
    ViewData["Title"] = "Service";
}




<div class="layout_padding">

    <section class="layout_padding story_section ">
      <div class="container-fluid">
        <div class="row">

          <div class=" col-md-6">
            <div class="story_detail">
              <h3>
                 
              </h3>
              <br>
              <h2>
               <center>CENTRO DE CAPACITACION <br> JCA SECURITY <br> (OTEC)
               </center>
              </h2>
              <br>
              <p style="margin-left: 5%;margin-right: 5%;">
               En el Centro de Capacitación JCA Security (OTEC), entregamos el servicio de perfeccionamiento profesional para cualquier persona que se desempeñe como guardia de seguridad, 
               comprometiéndonos con su formación y entrega de servicios de seguridad de excelencia.
              </p><br>
               <h4>
               <center>Cursos impartidos:</center>
              </h4>
              <br>
               <h4>
               <center>• OS10</center>
              </h4>
              <br>
               <h4>
               <center>• DEFENSA PERSONAL</center>
              </h4>
              <br>
               <h4>
               <center>• RESOLUCIÓN DE CONFLICTOS</center>
              </h4>
            </div>
          </div>
            <div class=" col-md-6">
                <div>
                <img class="img-fluid" src="~/images/capacitacion.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>